# Team Analysis

In [9]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Team data

In [10]:
# Load team data
teams = pd.read_csv('data/relevant_data/MTeams.csv')
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2025
1    1102    Air Force           1985          2025
2    1103        Akron           1985          2025
3    1104      Alabama           1985          2025
4    1105  Alabama A&M           2000          2025

In [11]:
# Load conference data
conferences = pd.read_csv('data/relevant_data/MTeamConferences.csv')
conferences.head()

   Season  TeamID ConfAbbrev
0    1985    1102        wac
1    1985    1103        ovc
2    1985    1104        sec
3    1985    1106       swac
4    1985    1108       swac

In [12]:
# Load coach data
coaches = pd.read_csv('data/relevant_data/MTeamCoaches.csv')
coaches.head()

   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney

In [13]:
# Load city data
cities = pd.read_csv('data/relevant_data/Cities.csv')
cities.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [14]:
# Merge team, conference, coach, and city data
team_data = teams.merge(conferences, on='TeamID', how='left') \
    .merge(coaches, on=['TeamID', 'Season'], how='left')

# Merge cities only if CityID is available in team_data
if 'CityID' in team_data.columns:
    team_data = team_data.merge(cities, on='CityID', how='left')

team_data.head(25)

,TeamID,TeamName,FirstD1Season,LastD1Season,Season,ConfAbbrev,FirstDayNum,LastDayNum,CoachName
0,1101,Abilene Chr,2014,2025,2014,southland,0,154,joe_golding
1,1101,Abilene Chr,2014,2025,2015,southland,0,154,joe_golding
2,1101,Abilene Chr,2014,2025,2016,southland,0,154,joe_golding
3,1101,Abilene Chr,2014,2025,2017,southland,0,154,joe_golding
4,1101,Abilene Chr,2014,2025,2018,southland,0,154,joe_golding
5,1101,Abilene Chr,2014,2025,2019,southland,0,154,joe_golding
6,1101,Abilene Chr,2014,2025,2020,southland,0,154,joe_golding
7,1101,Abilene Chr,2014,2025,2021,southland,0,154,joe_golding
8,1101,Abilene Chr,2014,2025,2022,wac,0,154,brette_tanner
9,1101,Abilene Chr,2014,2025,2023,wac,0,154,brette_tanner
10,1101,Abilene Chr,2014,2025,2024,wac,0,154,brette_tanner
11,1101,Abilene Chr,2014,2025,2025,wac,0,154,brette_tanner
12,1102,Air Force,1985,2025,1985,wac,0,154,reggie_minton
13,1102,Air Force,1985,2025,1986,wac,0,154,reggie_minton
14,1102,Air Force,1985,2025,1987,wac,0,154,reggie_minton
15,1102,Air Force,1985,2025,1988,wac,0,154,reggie_minton
16,1102,Air Force,1985,2025,1989,wac,0,154,reggie_minton
17,1102,Air Force,1985,2025,1990,wac,0,154,reggie_minton
18,1102,Air Force,1985,2025,1991,wac,0,154,reggie_minton
19,1102,Air Force,1985,2025,1992,wac,0,154,reggie_minton
20,1102,Air Force,1985,2025,1993,wac,0,154,reggie_minton
21,1102,Air Force,1985,2025,1994,wac,0,154,reggie_minton
22,1102,Air Force,1985,2025,1995,wac,0,154,reggie_minton
23,1102,Air Force,1985,2025,1996,wac,0,154,reggie_minton
24,1102,Air Force,1985,2025,1997,wac,0,154,reggie_minton

In [15]:
# Save the merged data to a new CSV file
team_data.to_csv('data/processed/team_data.csv', index=False)